$color-primary: #5a73fc;
$color-primary-light: #8e9efc;
$color-primary-dark: #1c3eff;
$color-grey: #777777;
$color-white: #fff;
$color-black: #000;

$color-secondary-light: #ffb900; //Màu Cam
$color-secondary-dark: #ff7730;

$color-tertiary-light: #55c57a; // Màu xanh lá cây
$color-tertiary-dark: #28b485;

// font-size
$default-font-size: 1.6rem;

// responsive breackpoint device
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
